
.header{
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding-left: 100px;
  background-color: rgba(5, 6, 8, 0.65);
  color: white;

  
}

.header h3{
  font-size: 30px;
}

.card-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1000px;
  height: auto;
  background-color: #11101d;
  border-radius: 20px;
  border: 2px solid ;
  border-color: rgb(182, 162, 162);
  padding: 20px;
}

.card{
  border: 1px solid;
  border-color: tomato;
  border-radius: 50px;
  height: 400px;
  background-color: grey;
}

.link{
  margin-left: 30%;
}
.link-1 {
  font-size: 18px;
  color: aqua;
  margin-right: 25px;
  font-weight: bold;
}

.link-2{
  font-size: 18px;
  color: aqua;
  margin-right: 25px;
  font-weight: bold;
}

.main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-gap: 50px;
  padding: 50px;
  margin-left: 7%;

}

